<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message {font-size:1.3em; font-weight:bold;}
      .greenFont {color:green;}
      .redFont {color:red;}
      .greenBorder {border-color:green;}
      .redBorder {border-color:red;}
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Lunch Checker</title>
  </head>
  <body ng-app="LunchCheck">
    <div class="container" ng-controller="LunchCheckController">
      <h1>Lunch Checker</h1>
      <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-class="{'greenBorder': font=='green', 'redBorder': font=='red'}"
             ng-model="lunchDishes">
      </div>
      <div class="form-group">
             <button class="btn btn-default" ng-click="checkIfTooMuch()">Check If Too Much</button>
      </div>
      <div class="form-group message">
           <div ng-class="{'greenFont': font=='green', 'redFont': font=='red'}">{{message}}</div>
      </div>
    </div>
</html>
